
	<h1>About Me</h1>
	<p>
		Full-stack Software Engineer with a background in education and design. My 15+ years as a Band Director provides me
		with tools I use daily as a developer such as creativity, communication, resourcefulness, and grit. As a Full-stack
		Developer, I love the creative process behind design and problem solving. I am a freelance classical musician (oboe
		and bassoon) and graphic designer. I have designed everything from business cards to costumes for individuals and
		organizations. In my spare time, I enjoy hiking, biking, and playing softball.
	</p>

